.App__root {
  max-width: 90%;
  margin: 0 auto;
}
.App__mailsContainer {
  width: 100%;
  display: flex;
}
.App__mailsCard {
  width: 100%;
}
.width-min {
  max-width: 40%;
}
.App__root h3:last-child {
  color: var(--color-text-primary);
  font-size: 1.25rem;
}

@media screen and (max-width: 600px) {
  .App__mailsContainer {
    flex-direction: column;
  }
  .width-min {
    max-width: 100%;
  }
}
