:root {
  --color-primary: #e54065;
  --color-background-primary: #f4f5f9;
  --color-background-read: #f2f2f2;
  --color-background-secondary: #fff;
  --color-text-primary: #636363;
  --color-text-secondary: #fff;
  --color-button-filter: #e1e4ea;
  --color-card-border: #cfd2dc;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-background-primary);
}

/* Global styles for common elements */
* {
  box-sizing: border-box;
}

h2,
h3 {
  color: var(--color-text-secondary);
  margin: 0;
}
p,
span {
  color: var(--color-text-primary);
  margin: 0;
}
button[type='button'] {
  outline: none;
  border: 0;
}
